.natal__paragraph__box {
    background-color: #202020;
    padding: 18px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.natal__paragraph__title {
    margin-left: 12px;
    margin-bottom: 4px;
    color: white;
}
.natal__paragraph__text {
    text-align: justify;
}
.natal__paragraph__title__block {
    fill: #FFF;
    display: flex;
    align-items: center;
}
.natal__paragraph__icon {
    width: 40px;
    filter: brightness(0) invert(1);
    stroke-width: 5px
}
@media only screen and (max-width: 768px) {
    .natal__paragraph__title {
        font-size: 16px;
    }
    .natal__paragraph__text {
        font-size: 14px;
    }
}