.box {
    color: #cf1322;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
.title {
    margin-bottom: 16px;
}
.text {
    margin-bottom: 16px;
}
.code {
font-size: 60px;
}
.button {
    color: #cf1322;
}