.close {
    cursor: pointer;
    position: absolute;
    right: 40px;
    font-size: 28px;
    transition: scale 0.1s ease-in-out;

    &:hover {
        scale: 1.05;

    }

    &:active {
        scale: 0.98;
    }
}